/* Typography */
body, ul, li, p, a, label, input, div {
  font-family: 'Roboto', sans-serif;
  font-size: 18px !important;
  font-weight: 300 !important;
}
.h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px !important;
  font-weight: 200 !important;
}
.h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px !important;
  font-weight: 300;
}
.h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px !important;
}

/* General */
.logo { font-weight: 500 !important;}
.text-warning { color: #ede861 !important;}
.text-muted { color: #bcbcbc !important;}
.text-success { color: #023059 !important;}
.text-light { color: #cfd6e1 !important;}
.bg-dark { background-color: #212934 !important;}
.bg-light { background-color: #e9eef5 !important;}
.bg-black { background-color: #1d242d !important;}
.bg-success { background-color: #023059 !important;}
.btn-success {
  background-color: #023059 !important;
  border-color: #023059 !important;
}

/* Nav */
#templatemo_main_nav a:hover { color: #023059; }

/* Shop */
.shop-top-menu a:hover { color: #023059 !important; }

/* Carousel Hero */
#template-mo-zay-hero-carousel .carousel-indicators li {
  margin-top: -50px;
  background-color: #023059;
}
#template-mo-zay-hero-carousel .carousel-control-next i,
#template-mo-zay-hero-carousel .carousel-control-prev i {
  color: #023059 !important;
  font-size: 2.8em !important;
}

/* Services */
.services-icon-wap:hover { background: #167dd8; }

/* Footer */
#tempaltemo_footer a:hover { color: #9db9d1; }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .tempaltemo-carousel .h1 { font-size: 1em !important; }
}
